@font-face {
    font-family: 'Joystix';
    src: url('../fonts/joystix_monospace.ttf');
    font-weight: 400;
    font-style: normal;
}

body {
    margin: 0;
    min-height: 100vh;
    height: 100%;
    color: #24252a;
}

body.playable {
    overflow: hidden;
}

@keyframes blinker {
    50% {
        opacity: 0;
    }
}

#snake-game {
    position: relative;
    /*padding-top: 100px;*/
    overflow: hidden;
}


#snake-game button:hover,
#snake-game button:focus {
    background-color: transparent;
    border: 3px solid #24252a;
    outline: none;
}

.fullscreen-enabled {
    background: #dfdfdf;
    height: 100%;
    width: 100%;
    padding: 50px;
}
